{% extends '@App/default/base.html.twig' %}

{% block body %}
    <h2 class="page-header"> About</h2>
        <div style="text-align: center; color: #761c19; font-size: 30px;padding: 2px ">
            <b>
                Attention!
            </b>
        </div>
        
        <div style="text-align: center;color: blue;font-size: 30px; padding: 2px">
            <b>
                There may be changes in the schedule .
            </b>
        </div>
        
        <div style="text-align: center;color: black;font-size: 30px; padding: 2px">
            <b>
                For information, contact the box office
                by phone 02-10-19
            </b>
        </div>

    <div>
        <p>
           <img style="float: left;margin: 0 10px 0 0;" src="http://kino-bendery.info/uploads/posts/2010-11/thumbs/1290515141_vid-2.jpg" alt="left" width="300" height="200">
            <span style="display: block; text-align: center; font-size: 15px; padding: 2px; font-weight: bold;">
                История<br>
            </span>Бендерский кинотеатр им. Горького (ул. Ленина 10), построенный в романтичное советское время, всегда был центром культурной жизни города. Здесь бывали известные по всей стране заслуженные и народные артисты Павел Кадочников, Евгений Леонов, Наталья Фатеева, Аристарх Ливанов и многие другие. Бывший директор кинотеатра, ныне здравствующая, Нина Борисовна Лукьянова – человек, влюблённый в кино, рассказала мне, как однажды в 1983 году на премьеру фильма "Надежда Павлова" в Бендеры приехала киногруппа, снимавшая этот фильм, во главе с человеком необыкновенной индивидуальности, яркой личностью, режиссером киностудии "Мосфильм" Эмилем Лотяну. Это был настоящий праздник кино в старинном городе. В переполненном зале на фоне белоснежного экрана бендерчанам улыбаются Светлана Тома, Наталья Фатеева, Галина Белова, сыгравшая роль великой Анны Павловой, и другие создатели фильма. Осматривая кинотеатр, кто-то из московских гостей сказал: "Ваш кинотеатр со своим полуовальным фойе не похож ни на какие другие, разве что на здание самого Московского ВГИКа". Строительство этого мощного сооружения было начато в 1954 году комплексной бригадой СУ-32 и завершено в 1956 г. Комиссаром строительства был назначен второй секретарь горкома партии А.И. Мацнев – ныне его именем названа одна из улиц микрорайона Солнечный. От заказчика выступал капитан запаса, участник Великой Отечественной войны, а впоследствии директор кинотеатра С.Т. Бондаренко. Орнаментальную лепку выполнял С.Г. Захаров. Архитектурный проект здания, как и многих других зданий города, разрабатывал заслуженный архитектор МССР В.П. Меднек (1910-2008), автор послевоенного генерального плана застройки города Бендеры. Об этом видном и интересном человеке и его трудах в своей книге "Бендеры – жизнь тому назад…" пишет В. Кучеренко, подчёркивая, что "кинотеатр им. Горького стал подлинным украшением города".
        </p>
    </div>

    <div>
        <p>
            <img style="float: left;margin: 0 10px 0 0;" src="http://kino-bendery.info/uploads/posts/2010-01/thumbs/1263567120_vid-1.jpg" alt="left" width="300" height="200">
            <span style="display: block; text-align: center; font-size: 15px; padding: 2px; font-weight: bold;">
                 ВТОРАЯ ЖИЗНЬ КИНОТЕАТРА<br>
            </span>Бендеры - один из самых современных и динамично развивающихся городов в Приднестровье. Сегодня старинный город встречает гостей не только ансамблями, памятниками архитектуры, многоликой исторической средой, но и новыми интересными постройками, такими как кинотеатр им. Горького. Кинотеатр был отреставрирован и открыт в ноябре 2009 г. и на сегодняшний день является одним из крупнейших в стране. Два его зала способны одновременно принять 334 зрителя. Теперь бендерчане получили возможность в полной мере насладиться всеми премьерными фильмами, выходящими в прокат, причем в самом высоком качестве, обеспечиваемом новейшим кинопроекционным оборудованием и цифровым звуком. В кинотеатре созданы все условия для комфортного времяпрепровождения. В просторном фойе посетителей обслуживают два кинобара, есть развлекательный игровой клуб и удобная парковка.
        </p>
    </div>
<p><br></p>
    <div>
        <p>
            <img style="float: left;margin: 0 10px 0 0;" src="http://kino-bendery.info/uploads/posts/2010-11/thumbs/1290517302_vid-3.jpg" alt="left" width="300" height="200">
            <span style="display: block; text-align: center; font-size: 15px; padding: 2px; font-weight: bold;">
                 КТО МЫ<br>
            </span>Кинотеатр им. Горького - был отреставрирован и открыт в ноябре 2009 года. Общее число зрительных залов составляет 2 по 167 мест. В кинотеатре работают около пятидесяти человек. Нашей главной целью является обеспечение устойчивого развития кинотеатра как крупнейшей национальной киносети. Используя профессионализм наших сотрудников, активно развивая технический потенциал и инвестируя в цифровые технологии кинопоказа, мы обеспечиваем себе лидирующие позиции на отечественном кинорынке. Мы считаем, что быть лидером не только почетно, но и очень ответственно. Лидеры задают тон, определяют динамику развития рынка, создают ценности и изменяют историю. На них равняются. Мы уверены, что настоящий лидер – это компания, у которой есть миссия. Мы видим свою миссию в том, чтобы развитие кинобизнеса способствовало социально-экономическому процветанию. Мы стремимся стать компанией, которой гордятся не только сотрудники и их дети, но также наши зрители и население города. Уверены, что таких компаний в скором времени станет еще больше.
        </p>
    </div>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/iYw8hO6OHPE" frameborder="0" allowfullscreen></iframe>
{% endblock %}